html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}


body {
    background: #11120D;
    font-family: monospace;

}

body:before {
    content: '';
    background-image: url(assets/grid.svg);
    background-repeat: repeat;
    position: fixed;
    inset: 0;
    width: 100%;
    opacity: .2;
    pointer-events: none;
    z-index: -2;
}

#tech-logos {
    width: 4em;
    height: 4em;
}


.intro {
    display: inline-block;
    justify-content: center;
    border-right: .1em solid;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1s steps(19),
        cursor .4s step-end infinite alternate;
}


img {
    opacity: 1;
    z-index: -1;
}


.grid-box {
    border: .08em solid #3A3B3C ;
    border-radius: .5em;

}

.description {
    animation: fadeIn 2s;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@keyframes typing {
    from {width: 0}
}

@keyframes cursor {
    50% { border-color: transparent; }
}